* {
    font-family: 'Times New Roman', Times, serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(110, 183, 255);
    margin: 0;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    justify-content: space-between;
    align-items: center;
    background-color: darkslategray;
    color: white;
    width: 100%;
    z-index: 2;
}

header h1 {
    font-size: 40px;
}

nav {
   display: flex;
   justify-content: flex-end;
}

nav ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    margin: 20px;
    line-height: 50px;
}

nav li {
    margin-left: 60px;
    font-size: 30px;
    color: rgb(110, 183, 255);
    padding: 5px;
}

.function {
    display: fixed;
    position: relative;
    width: 100%;
    height: 200px;

}
section {
    display: flex;
    align-content: flex-start;
    font-size: 40px;
    margin-bottom: 200px;
}

h2 {
        display: block;
        position: absolute;
        
        
}

p {
    display: inline-block;
    position: absolute;
    border-left: 5px solid black;
    font-size: 20px;
}



